* {
 box-sizing: border-box;
 line-height: 1.5;
 padding: 0;
 margin: 0;
 font-family: "Manrope", sans-serif;
}
body {
 background-color: hsl(210, 46%, 95%);
}
.container {
 display: flex;
 width: 90%;
 flex-direction: column;
 border-radius: 1rem;
 background-color: white;
 margin: 3rem 1rem;
 box-shadow: 3px 3px 10px rgba(110, 110, 110, 0.493);
 @media (min-width: 600px) {
  flex-direction: row;
  max-width: 55%;
  margin: 10rem auto;
 }
}
.img-wrapper {
 img {
  border-radius: 1rem 1rem 0 0;
  height: 100%;
  @media (min-width: 600px) {
   border-radius: 1rem 0 0 1rem;
  }
 }
}
img {
 max-width: 100%;
 height: auto;
 display: block;
}
.img-wrap {
 width: 3rem;
 padding-right: 1rem;
 img {
  border-radius: 50%;
 }
}
.profile {
 display: flex;
 transition: all 0.3 ease-in-out;
}
.contact {
 display: flex;
 justify-content: flex-start;
 align-items: center;
 width: 100%;
}
h3 {
 display: flex;
 flex: 1;
 flex-direction: column;
 font-size: 13px;
 span {
  color: rgb(109, 109, 109);
 }
}
article {
 margin: 1.5rem 1.5rem;
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 gap: 1rem;
}
p {
 font-size: 13px;
 line-height: 1.7;
 color: hsl(217, 19%, 35%);
}
h2 {
 line-height: 1.2;
 color: hsl(217, 19%, 35%);
 font-size: 15px;
}
.share-link {
 position: relative;
 flex: 1;
 color: white;
 transition: all 0.15s ease;
 cursor: pointer;
 display: flex;
 align-items: center;
 background-color: hsl(210, 46%, 95%);
 width: 2rem;
 height: 2rem;
 border-radius: 50%;
}
.img-icon {
 background-color: hsl(210, 46%, 95%);
 display: flex;
 justify-content: center;
 align-items: center;
 border-radius: 50%;
 width: 2rem;
 img {
  width: 55%;
  height: auto;
  display: block;
 }
}
.close {
 display: none;
}
.active {
 display: flex;
 flex-direction: row-reverse;
 justify-content: space-around;
 align-items: center;
 padding: 1.5rem;
 background-color: hsl(217, 19%, 35%);
 border-radius: 0 0 0.5rem 0.5rem;
 color: hsl(214, 17%, 51%);
 a {
  color: white;
 }
 .img-icon {
  background-color: hsl(214, 17%, 51%);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  img {
   filter: brightness(0) invert(1) grayscale(100%);
  }
 }
}
.tooltiptext {
 display: flex;
 width: 90%;
 justify-content: center;
 align-items: center;
 gap: 0.5rem;
 letter-spacing: 5px;
 font-size: 13px;
 color: hsl(212, 23%, 69%);
 a {
  font-size: 16px;
 }
 @media (min-width: 600px) {
  width: fit-content;
  background-color: hsl(217, 19%, 35%);
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  gap: 0.5rem;
  position: absolute;
  z-index: 1;
  bottom: 130%;
  left: 5%;
  margin-left: -90px;
  a {
   font-size: 16px;
   padding: 0 5px;
   color: white;
   text-decoration: none;
  }
 }
}
.tooltiptext::after {
 @media (min-width: 600px) {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
 }
}
.bg {
 background-color: hsl(217, 19%, 35%);
 width: 2rem;
 height: 2rem;
 img {
  filter: brightness(0) invert(1) grayscale(100%);
 }
}
